:root {
  --matcha: rgb(156, 199, 129);
  --dark: rgb(62, 80, 50);
}
body {
    padding-top: 50px;
    width: 80%;
    margin: auto;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

hr { margin: 20px 0 20px 0; }

.center-block {  
    width:640px;
  display: block;  
  margin-right: auto;  
  margin-left: auto;  
}  

div {
  display: flex;
  flex-direction: column;
  width: 100%
}

img, iframe {
  margin: auto;
}

.navbar-inverse, .navbar-collapse, .navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
  background-color: var(--matcha);
  border: none;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{
  color: white;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav>li>a:hover{
  color: var(--dark);
}

h1, h2, h3, h4 {
  color: var(--dark);
}

a{
  color: var(--matcha);
}
a:hover {
  color: var(--dark);
}